<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ranad_000.fitness_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SecondActivity" />
        <activity android:name=".Activities.nutritionActivity" />
        <activity android:name=".Activities.WorkoutActivity" />
        <activity android:name=".Activities.chestWorkoutActivity" />
        <activity android:name=".Activities.LegWorkoutActivity" />
        <activity android:name=".Activities.ShoulderWorkoutActivity" />
        <activity android:name=".Activities.Incline_Bench_Activity" />
        <activity android:name=".Activities.Bench_Workout_Activity" />
        <activity android:name=".Activities.Decline_Workout_Activity" />
        <activity android:name=".Activities.ChestFly_Workout_Activity" />
        <activity android:name=".Activities.CablePress_Workout_Activity" />
        <activity android:name=".Activities.LateralRaise_Workout_Activity" />
        <activity android:name=".Activities.ShoulderPress_Workout_Activity" />
        <activity android:name=".Activities.ArnoldPress_Workout_Activity" />
        <activity android:name=".Activities.FrontRaise_Workout_Activity" />
        <activity android:name=".Activities.Delt_Workout_Activity" />
        <activity android:name=".Activities.UprightRow_Workout_Activity" />
        <activity android:name=".Activities.Squats_Workout_Activity" />
        <activity android:name=".Activities.LegExtn_Workout_Activity" />
        <activity android:name=".Activities.Calves_Workout_Activity" />
        <activity android:name=".Activities.LegPress_Workout_Activity" />
        <activity android:name=".Activities.Lunges_Workout_Activity" />
        <activity android:name=".Activities.Hamstrings_Workout_Activity" />
        <activity android:name=".Activities.BackWorkouts" />
        <activity android:name=".Activities.LatPulldown_Workout_Activity" />
        <activity android:name=".Activities.LowRow_Workout_Activity" />
        <activity android:name=".Activities.BackFly_Workout_Activity" />
        <activity android:name=".Activities.TBarRow_Workout_Activity" />
        <activity android:name=".Activities.IsoRow_Workout_Activity" />
        <activity android:name=".Activities.Arm_Workout_Activity" />
        <activity android:name=".Activities.HammerCurl_Workout_Activity" />
        <activity android:name=".Activities.BarbellCurl_Workout_Activity" />
        <activity android:name=".Activities.TricepExt_Workout_Activity" />
        <activity android:name=".Activities.DumbBell_Workout_Activity" />
        <activity android:name=".Activities.TricepExnt_Workout_Activity" />
        <activity android:name=".Activities.SkullCrusher_Workout_Activity" />
        <activity android:name=".Activities.TricepPushDown_Workout_Activity" />
        <activity android:name=".Activities.BodyPartSelection" />
        <activity android:name=".Activities.Keto_Diet" />
        <activity android:name=".Activities.Vegan_Diet" />
        <activity android:name=".Activities.Workout_Plans" />
        <activity android:name=".Activities.Chest_Plan" />
        <activity android:name=".Activities.Cardio_Plan"></activity>
    </application>

</manifest>